# === Environment Files ===
.env


# === Python Cache ===
__pycache__/
*.pyc

# Notebooks
*.ipynb_checkpoints
notebooks/.ipynb_checkpoints
notebooks/*.ipynb

# === Virtual Envs ===
venv/
.env/
.venv/

# === OS Files ===
.DS_Store

# === Logs & Temp ===
logs/
*.log
tmp/

# === Model Artifacts ===
*.pt
*.pkl
*.h5

# === IDE Files ===
.vscode/
.idea/
