# === Environment Files ===
.env


# === Python Cache ===
__pycache__/
*.pyc

# Notebooks
*.ipynb_checkpoints
notebooks/.ipynb_checkpoints
notebooks/*.ipynb

# === Virtual Envs ===
venv/
.env/
.venv/

# === OS Files ===
.DS_Store

# === Logs & Temp ===
logs/
*.log
tmp/

# === Model Artifacts ===
*.pt
*.pkl
*.h5

# === IDE Files ===
.vscode/
.idea/
# === DATA FOLDER RULES ===

data/\*
!data/.gitkeep
!data/README.md
!data/samples/\*\*

# Ignore large raw datasets by default

data/raw/\*
data/processed/\*
# Ignore large files in data/raw and data/processed
data/raw/\*.csv
data/processed/\*.csv